/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

body {

	@include font(axi, reg, family weight);
	transition: all 0.3s ease-in-out;
	position: relative;
	font-size: var(--gb_font_size_16);
	color: var(--gb_body_color);
	background-color: var(--gb_body_bg);
	line-height: 1.5;

	&.have-topbar {
		padding-top: var(--gb_header-height);
	}

}

p {
	margin: 0 0 30px;
}

::selection {
	color: var(--gb_highlight_color);
	background-color: var(--gb_highlight_bg);
}


strong {
	color: var(--gb_text_strong) !important;
}