// image positions

.image-at-right {
	.iat-image {
		order: 2;
	}
}



.default-variation {
	.iat-section {
		background-color: var(--gb_gray_2);
		border-radius: 20px;
	}

	.iat-image {
		width: 55.3%;
	}

	.iat-text {
		width: 38.9%;
		padding-right: 15px;
		box-sizing: border-box;
		margin-top: -36px;

		.heading-1 {
			letter-spacing: -1.8px;
			line-height: 1.2;
			margin-bottom: 24px;
		}
	}
}

.big-image-variation {
	position: relative;
	padding-bottom: 50px;

	.iat-section {
		// background-color: var(--gb_gray_2);
		// border-radius: 20px;
	}

	.iat-image {
		position: absolute;
		left: calc(39% + 43px);
		width: 68%;
		top: -60px;
	}

	.iat-text {
		width: 38.9%;
		padding-right: 18px;
		box-sizing: border-box;
		margin-top: -36px;

		p {
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: -0.1px;
			margin-bottom: 38px;
		}

		.heading-1 {
			letter-spacing: -1.8px;
			line-height: 1.2;
			margin-bottom: 24px;
		}
	}
}